.side-bar{
  display: flex;
  flex-direction:column;
  position: fixed;
  left: 171.5px;
  top: 5px;
  border-right: solid;
  border-width: 0.2px;
  border-color: rgb(236, 236, 236);
}


.twitter-button-icon-box{
  width: 30px;
  display: flex;
  flex-direction: row;
  margin-bottom: 12px;
  border:none;
  border-radius: 300px;
  transition: box-shadow 0.1s;
  padding: 11px 9px 11px 9px;
  margin-left: 6px;
  
}

.twitter-button-icon-box:hover{
  box-shadow: 0px 1px 6px rgba(0,0,0, 0.3);
  cursor: pointer;
}


.twitter-button-icon{
  width: 40px;
}


.home-button-box{
  display: flex;
  width: 130px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: background-color 0.15s;
  margin-bottom: 5px;
}


.home-button-icon-box{
  padding-right: 20px;
}


.home-button-icon{
  width: 30px;
}


.explore-button-box{
  display: flex;
  width: 140px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.explore-button-icon{
  width: 20px; 
}


.explore-button-icon-box{
  padding-right: 20px;
}


.notifications-button-box{
  display: flex;
  width: 187px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.notifications-button-icon{
  width: 25px; 
}


.notifications-button-icon-box{
  padding-right: 20px;
}


.messages-button-box{
  display: flex;
  width: 165px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.messages-button-icon{
  width: 25px; 
}


.messages-button-icon-box{
  padding-right: 20px;
  padding-left: 0px;

}



.lists-button-box{
  display: flex;
  width: 120px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.lists-button-icon{
  width: 23px; 
}


.lists-button-icon-box{
  padding-right: 20px;
  padding-left: 0px;

}


.bookmarks-button-box{
  display: flex;
  width: 176px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.bookmarks-button-icon{
  width:28px; 
}


.bookmarks-button-icon-box{
  padding-right: 20px;
  padding-left: 0px;
}


.verified-button-box{
  display: flex;
  width: 144px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.verified-button-icon{
  width:28px; 
}


.verified-button-icon-box{
  padding-right: 20px;
  padding-left: 0px;

}


.profile-button-box{
  display: flex;
  width: 130px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 5px;
}


.profile-button-icon{
  width:28px;
}


.profile-button-icon-box{
  padding-right: 20px;
  padding-left: 0px;

}


.more-button-box{
  display: flex;
  width: 120px;
  height: 52px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20px;
  transition: box-shadow 0.1s;
  margin-bottom: 8px;
}


.more-button-icon{
  width:26px; 
}


.more-button-icon-box{
  padding-right: 15px;
  padding-left: 0px;
}


.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-left: 90px;
  padding-top: 17px;
  padding-right: 90px;
  padding-bottom: 17px;
  cursor: pointer;
  border-radius: 200px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
  transition: box-shadow 0.1s;
  margin-bottom: 66px;
}

.tweet-button:active {
  opacity: 0.9;
}

.profile-outer-box{
  border: none;
  width: 240px;
  height:55px;
  border-radius: 30px;
  padding: 8px 10px 4px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content:space-between;
  transition: box-shadow 0.1s;
  margin-right: 8px;
}


.profile-pic-box{
  width: 60px;
  height: 60px;
  
}

.profile-pic{
  padding-top: 9px;
  padding-left: 8px;
  width: 50px;
}

.profile-info-box{
  display: flex;
  flex-direction: column;
}

.profile-name{
  margin:0px;
  margin-bottom: 4px;
}

.three-dots-info-box{
  width: 30px;
}

.three-dots-info{
  width: 30px;
}


.explore-button-box:hover,
.home-button-box:hover,
.notifications-button-box:hover,
.messages-button-box:hover,
.bookmarks-button-box:hover,
.lists-button-box:hover,
.verified-button-box:hover,
.profile-button-box:hover,
.more-button-box:hover,
.tweet-button:hover,
.profile-outer-box:hover {
  box-shadow: 0px 1px 6px rgba(0,0,0, 0.3);
  cursor: pointer;
  font-weight: bold;
}