.twitter-feed-area{
  z-index: 0;
  display: flex;
  width: 600px;
  flex-direction: column;
}

.feed{
  
  display: flex;
  width: 600px;
  border-bottom: solid;
  border-right: solid;
  border-width: 0.2px;
  border-color: rgb(221, 221, 221)
}

.tweetters-id-profile-pic{
  margin-top: 15px;
  padding-right: 18px;
  padding-left: 10px;
  border: none;
  height: 150px;
  width: 40px;
}


.tweeters-profile-pic{
  width: 40px;
  border-radius: 30px;
  cursor: pointer;
  opacity: 0.5;
}

.tweeters-profile-pic{
  opacity: 1;
}

.feeder-content{
  display: flex;
  flex-direction: column;
}

.line1-content{
  width: 520px;
  display: flex;
  align-items: center;
}

.id-name{
  margin-bottom: 0;
  font-weight: 500;
  cursor: pointer;
  margin-right: 8px;
}

.id-name:hover{
  text-decoration: underline;
}


.id{
  margin-bottom: 0;
  color: rgb(105, 105, 105);
  margin-right: 5px;
  cursor: pointer;
}

.middle-dot{
  margin-bottom: 0;
  color: rgb(105, 105, 105);
  margin-right: 5px;
}


.tweet-time{
    flex: 1;
    margin-bottom: 0;
    color: rgb(105, 105, 105);
    cursor: pointer; 
}

.tweet-time:hover{
  text-decoration: underline;
}

.three-dots-button-line1-content-area{
  height: 30px;
  margin-top: 15px;
  width: 30px;
  border: none;
  border-radius: 40px;
  background-color: white;
}

.three-dots-button-line1-content-area:hover{
  background-color: lightgrey;
  cursor: pointer;
}

.three-dots-button-pic{
  width: 20px;
  padding-top: 4px;
}


.tweet{
  margin-top: 4px;
  width: 480px;
}


.line3-content{
  display: flex;
  margin: 35px 20px 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.parent-message-reply-box,
.parent-retweet-box,
.parent-like-box,
.parent-stats-box,
.parent-share-box{
  padding: 0 2px 0 2px;
}


.parent-message-reply-box:hover,
.parent-retweet-box:hover,
.parent-like-box:hover,
.parent-stats-box:hover,
.parent-share-box:hover{
  cursor: pointer;
  border: none;
  border-radius: 30px;
  
}


.message-reply-box,
.retweet-box,
.like-box,
.stats-box,
.share-box{
  display: flex;
  width: 40px;
  align-items: center;
}


.message-reply-pic,
.retweet-pic,
.like-pic,
.stats-pic,
.share-pic{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  margin-top: 1px;
  border-radius: 20px;
  padding: 4px;
  transition: box-shadow 10ms;
}

.stats-pic{
  border-radius: 10px;
}

.share-pic{
  
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.message-reply-pic:hover,
.retweet-pic:hover,
.like-pic:hover,
.stats-pic:hover,
.share-pic:hover{
  box-shadow: 0 1px 6px rgba(0,0,0,0.5);
}


.message-reply-count,
.retweet-count,
.like-count,
.stats-count,
.share-count{
  margin: 0;
  padding-top: 1.8px;
  width: 10px;
  color: rgb(112, 112, 112);
}










