body{
  font-family: Roboto;
  margin-bottom: 3000px;
  padding-left: 430px;
}

.twitter-usage-space{
  background-color: white;
  display: flex;
  flex-direction: row;
  
}

.twitter-usage-space .button-text{
  font-size: 20px;
}

.twitter-main-feed-box{
  display: flex;
}

.middle-section{
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}

.search-box-search-image{
  width: 20px;
  height: 20px;
}

.trending-box{
  
}


.trending {
  display: flex;
}


.trending-leftbox{
  display: flex;
  flex-direction: column;
}